* {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

body {
  display: grid;
  justify-content: center;
  background-color: #ffe7d5;
}


.a {
  text-align: center;
}

h1 {
  text-align: center;
  padding: 10px 0;
}

main {
  margin-top: -40%;
  width: 80%;
  margin-left: 10%;
}

#head {
  padding: 10px 0;
  font-size: 45px;
}


#loading {
  transition: all 5s; /*ローディングにかかる時間*/
  background-color: #ff7a37;
  z-index: 999;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-text {
  font-weight: bold;
  text-align: center;
}

.spin {
  width: 50%;
  height: auto;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}




#header {
   position: fixed;
       /*fixedで上部固定*/
  position: fixed;
  height: 70px;
  width:100%;
  z-index: 998;/*最前面へ*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#191919;
  text-align: center;
  padding: 10px;

}

/*　上に上がる動き　*/
#header.UpMove{
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 0;
  transform: translateY(-100px);
  }
}

/*　下に下がる動き　*/

#header.DownMove{
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
    opacity: 0;
  transform: translateY(-100px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}


nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 4px;  
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #191919;
  padding-right: 50px;
  transition: all 0.3s;
}

nav ul li.current a,
nav ul li a:hover,
nav ul li a:active{
  color:#ff7a37; 
}


.top-item {
  position: relative;
  margin-top: -60%;
}

.main-b {
  z-index: 1;
  width: 100%;

}

#main-me {
  z-index: 2;
  position: absolute;
  width: 30%;
  margin-top: 10%;
  margin-bottom: 70%;
  margin-left: 36%;
  margin-right: 50%;
}

#main-ball {
  z-index: 2;
  position: absolute;
  width: 10%;
  margin-top: 30%;
  margin-bottom: 70%;
  margin-left: 25%;
  margin-right: 75%;
}

#main-switch {
  z-index: 2;
  position: absolute;
  width: 6.5%;
  margin-top: 9%;
  margin-bottom: 80%;
  margin-left: 77.7%;
  margin-right: 23%;
}

#main-isu {
  z-index: 3;
  position: absolute;
  width: 19%;
  margin-top: 26%;
  margin-bottom: 80%;
  margin-left: 77%;
  margin-right: 30%;
}

#main-basuke {
  z-index: 2;
  position: absolute;
  width: 100%;
  padding-bottom: 50px;
}

#main-basuke:checked{
  opacity:1;
}

#main-denki {
  z-index: 3;
  position: absolute;
  width: 100%;
}

#main-tobi {
  z-index: 3;
  position: absolute;
  width: 100%;
  padding-bottom: 50px;
}


.wrap-tab ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.wrap-tab{
  overflow: hidden;
  padding-top: 65%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
}

.list-tab{
  display: flex;
  margin: 0 -2px;
}
.list-tab > li{
  display: block;
  padding: 3px 2px;
  margin: 10px;
  width: 100%;
  color: #fff;
  text-align: center;
  background: #ffad84;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 9999px;
}  

.list-tab .active{
  background: #ff7a37;
}


.tab-content{
  display: none;
  padding: 1em;
}
.tab-content.active{
  display: block;
}


footer {
  text-align: center;
  padding: 10%;
}

.gallery {
  width: 110%;
  margin-right: 50px;
}


#caption {
  position: absolute;
  bottom: 0;
  background: rgba(68, 68, 68, 0.5);
  padding: 5px;
  width: 30%;
  box-sizing: border-box;
  color: #FFF;
}

.gallery ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  padding-top: 40px;
  margin-right: 40%;
}

.gallery ul li {
  }

.gallery img {
  margin: 40px;
  border-radius: 30px;
}


@media screen and (max-width: 640px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }
}